.feedback {
  display: inline-block;
  margin: 0 auto;
  padding: 50px;
  width: auto;
  background-color: #fff;
  box-shadow: 0 2px 2px 2px #cbd6e4;
}
.section__title {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.36;
  margin: 5px 0;
}
.statistics {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.statistics__item {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.36;
  margin: 5px 0;
}

.button {
  width: 100px;
  height: 50px;
  cursor: pointer;
  background-color: lime;
}
